In [105]:
#fas-정재환
import pandas as pd

In [106]:
#저장된 csv파일을 0번째줄을 인덱스 시작으로 읽어온다
data_health = pd.read_csv("health.csv", index_col=0)
data_health = data_health.drop(['NUM_CODE'], axis=1)
data_health

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0        160      60   80.0           128        16.6
1        180      70   83.0           119        14.2
2        160      55   73.0           129        14.2
3        155      50   73.0           101        16.5
4        160      50   71.0           104        14.8
...      ...     ...    ...           ...         ...
1158     130      56   45.9             9         9.0
1159     170      69   89.1           115        13.0
1160     169      57   82.0           115        33.0
1161     169      60   80.3           115         9.1
1162     170      63   80.0           115         3.0

[1163 rows x 5 columns]

In [107]:
#역순으로 하단에서 50개를 차례대로 출력
data_health.loc[::-1].head(10)

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
1162     170      63   80.0           115         3.0
1161     169      60   80.3           115         9.1
1160     169      57   82.0           115        33.0
1159     170      69   89.1           115        13.0
1158     130      56   45.9             9         9.0
1157     123     123  123.0           123       123.0
1156     169      70   89.9           113        15.0
1155     170      75   86.0           141        15.5
1154     175      75   85.0           100        14.8
1153     140      45   79.0           118        12.5

In [108]:
#index순서를 반대로 뒤집은 후 다시 index를 0으로 설정하여 차례대로 출력
data_health.loc[::-1].reset_index(drop=True).head(10)

   HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0     170      63   80.0           115         3.0
1     169      60   80.3           115         9.1
2     169      57   82.0           115        33.0
3     170      69   89.1           115        13.0
4     130      56   45.9             9         9.0
5     123     123  123.0           123       123.0
6     169      70   89.9           113        15.0
7     170      75   86.0           141        15.5
8     175      75   85.0           100        14.8
9     140      45   79.0           118        12.5

In [109]:
#컬럼(열) 순서를 반대로 뒤집기
data_health.loc[:, ::-1].head()

   HEMOGLOBIN  MAX_PRESSURE  WAIST  WEIGHT  HEIGHT
0        16.6           128   80.0      60     160
1        14.2           119   83.0      70     180
2        14.2           129   73.0      55     160
3        16.5           101   73.0      50     155
4        14.8           104   71.0      50     160

In [110]:
#결측 데이터 갯수 확인
data_health.isnull().sum()

HEIGHT          0
WEIGHT          0
WAIST           0
MAX_PRESSURE    0
HEMOGLOBIN      0
dtype: int64

In [111]:
#중복 데이터 확인
data_health.duplicated().sum()

0

In [112]:
#특정 행 삭제
data_health = data_health.drop([data_health.index[3], data_health.index[5]])
data_health

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0        160      60   80.0           128        16.6
1        180      70   83.0           119        14.2
2        160      55   73.0           129        14.2
4        160      50   71.0           104        14.8
6        155      70   80.0           113        11.5
...      ...     ...    ...           ...         ...
1158     130      56   45.9             9         9.0
1159     170      69   89.1           115        13.0
1160     169      57   82.0           115        33.0
1161     169      60   80.3           115         9.1
1162     170      63   80.0           115         3.0

[1161 rows x 5 columns]

In [113]:
#reset_insex를 이용해 인덱스 사이의 간격을 일정하게 유지하도록 갱신한다.
#drop=True로 기존의 인덱스는 없앤다. inplace=True로 적용한 것을 변수에 바로 적용한다.
data_health.reset_index(drop=True, inplace=True)
data_health

      HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0        160      60   80.0           128        16.6
1        180      70   83.0           119        14.2
2        160      55   73.0           129        14.2
3        160      50   71.0           104        14.8
4        155      70   80.0           113        11.5
...      ...     ...    ...           ...         ...
1156     130      56   45.9             9         9.0
1157     170      69   89.1           115        13.0
1158     169      57   82.0           115        33.0
1159     169      60   80.3           115         9.1
1160     170      63   80.0           115         3.0

[1161 rows x 5 columns]

In [114]:
#특정 컬럼의 값에 조건식을 설정하여 해당하는 행 모두 삭제
remove_index = data_health[data_health['WEIGHT'] == 60].index
data_health = data_health.drop(remove_index)
data_health.reset_index(drop=True, inplace=True)
data_health

     HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0       180      70   83.0           119        14.2
1       160      55   73.0           129        14.2
2       160      50   71.0           104        14.8
3       155      70   80.0           113        11.5
4       170      65   79.0           109        15.8
..      ...     ...    ...           ...         ...
988     123     123  123.0           123       123.0
989     130      56   45.9             9         9.0
990     170      69   89.1           115        13.0
991     169      57   82.0           115        33.0
992     170      63   80.0           115         3.0

[993 rows x 5 columns]

In [115]:
# 2개 이상의 조건문을 기술하여 and(&) 또는 or(|)로 적용
remove_index = data_health[(data_health['WEIGHT'] == 90) | (data_health['HEIGHT'] == 185)].index
data_health = data_health.drop(remove_index)
data_health.reset_index(drop=True, inplace=True)
data_health

     HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0       180      70   83.0           119        14.2
1       160      55   73.0           129        14.2
2       160      50   71.0           104        14.8
3       155      70   80.0           113        11.5
4       170      65   79.0           109        15.8
..      ...     ...    ...           ...         ...
964     123     123  123.0           123       123.0
965     130      56   45.9             9         9.0
966     170      69   89.1           115        13.0
967     169      57   82.0           115        33.0
968     170      63   80.0           115         3.0

[969 rows x 5 columns]

In [116]:
# append를 이용해 새로운 행 추가
new_list = [(170, 80, 70, 115, 14), (180, 80, 75, 113, 12)]
new_data = pd.DataFrame(new_list, columns=data_health.columns, index=[1200, 1221])
data_health = data_health.append(new_data)
data_health.reset_index(drop=True, inplace=True)
data_health

     HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0       180      70   83.0           119        14.2
1       160      55   73.0           129        14.2
2       160      50   71.0           104        14.8
3       155      70   80.0           113        11.5
4       170      65   79.0           109        15.8
..      ...     ...    ...           ...         ...
966     170      69   89.1           115        13.0
967     169      57   82.0           115        33.0
968     170      63   80.0           115         3.0
969     170      80   70.0           115        14.0
970     180      80   75.0           113        12.0

[971 rows x 5 columns]

In [117]:
# loc를 이용해 새로운 행 추가
data_health.loc[1433] = [175, 70, 77, 119, 12.6]
data_health.reset_index(drop=True, inplace=True)
data_health

     HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0     180.0    70.0   83.0         119.0        14.2
1     160.0    55.0   73.0         129.0        14.2
2     160.0    50.0   71.0         104.0        14.8
3     155.0    70.0   80.0         113.0        11.5
4     170.0    65.0   79.0         109.0        15.8
..      ...     ...    ...           ...         ...
967   169.0    57.0   82.0         115.0        33.0
968   170.0    63.0   80.0         115.0         3.0
969   170.0    80.0   70.0         115.0        14.0
970   180.0    80.0   75.0         113.0        12.0
971   175.0    70.0   77.0         119.0        12.6

[972 rows x 5 columns]

In [118]:
# 특정 컬럼(HEIGHT)을 기준으로 그룹화하고 각각 특정 컬럼(WEIGHT) 값의 평균 계산
data_health.groupby(['HEIGHT'])['WEIGHT'].mean()

HEIGHT
123.0    123.000000
130.0     56.000000
140.0     47.307692
145.0     50.952381
150.0     52.878788
155.0     54.133333
160.0     59.573171
165.0     65.894737
169.0     63.500000
170.0     70.931973
175.0     77.833333
180.0     80.238095
190.0     70.000000
Name: WEIGHT, dtype: float64

In [120]:
# 특정 컬럼(HEIGHT)을 기준으로 그룹화하고 각각 특정 컬럼(WEIGHT) 값의 수치 계산
data_health.groupby(['HEIGHT'])['WEIGHT'].agg(['mean', 'sum', 'count'])

              mean      sum  count
HEIGHT
123.0   123.000000    123.0      1
130.0    56.000000     56.0      1
140.0    47.307692    615.0     13
145.0    50.952381   2140.0     42
150.0    52.878788   5235.0     99
155.0    54.133333   8120.0    150
160.0    59.573171   9770.0    164
165.0    65.894737  12520.0    190
169.0    63.500000    127.0      2
170.0    70.931973  10427.0    147
175.0    77.833333   9340.0    120
180.0    80.238095   3370.0     42
190.0    70.000000     70.0      1

In [121]:
# 특정 컬럼(HEIGHT)을 기준으로 그룹화하고 각각 특정 컬럼(WEIGHT) 값으로 describe
data_health.groupby(['HEIGHT'])['WEIGHT'].describe()

        count        mean        std    min     25%    50%     75%    max
HEIGHT
123.0     1.0  123.000000        NaN  123.0  123.00  123.0  123.00  123.0
130.0     1.0   56.000000        NaN   56.0   56.00   56.0   56.00   56.0
140.0    13.0   47.307692   6.650622   35.0   45.00   45.0   55.00   55.0
145.0    42.0   50.952381   7.427544   40.0   45.00   50.0   55.00   70.0
150.0    99.0   52.878788   7.729182   40.0   50.00   50.0   55.00   75.0
155.0   150.0   54.133333   9.044014   40.0   46.25   52.5   55.00   85.0
160.0   164.0   59.573171  10.558084   40.0   50.00   55.0   65.00   85.0
165.0   190.0   65.894737   9.972951   45.0   55.00   65.0   70.00  110.0
169.0     2.0   63.500000   9.192388   57.0   60.25   63.5   66.75   70.0
170.0   147.0   70.931973   8.599665   45.0   65.00   70.0   75.00  110.0
175.0   120.0   77.833333  10.566582   55.0   70.00   75.0   81.25  115.0
180.0    42.0   80.238095  10.873574   50.0   75.00   80.0   85.00  100.0
190.0     1.0   70.000000        NaN   70.0   70.00   70.0   70.00   70.0

In [123]:
# 데이터프레임 행열 크기 출력
data_health.shape

(972, 5)

In [124]:
# 행, 열의 갯수 출력
rows, cols = data_health.shape
print('행의 갯수는 ', rows, ' 열의 갯수는', cols)

행의 갯수는  972  열의 갯수는 5

In [125]:
#특정 열을 ndarray로 변환
arr = data_health['WEIGHT'].values
arr

array([ 70.,  55.,  50.,  70.,  65.,  70.,  65.,  95.,  65.,  80.,  55.,
        85.,  40.,  55.,  45.,  75.,  80.,  75.,  70.,  65.,  70.,  70.,
        85.,  50.,  85.,  55.,  55.,  70.,  55.,  50.,  55.,  50.,  85.,
        45.,  70.,  75.,  65.,  70.,  55.,  55.,  70.,  50.,  50.,  65.,
        65.,  70.,  50.,  70.,  85.,  55.,  50.,  45.,  70.,  65.,  65.,
        75.,  80.,  55.,  55.,  80.,  75.,  65.,  55.,  55.,  75.,  65.,
        70.,  75.,  65., 100.,  55.,  65.,  75.,  65.,  55.,  65.,  65.,
        65.,  80.,  75.,  65.,  65.,  50.,  70.,  70.,  95.,  80.,  55.,
        50.,  55.,  75.,  70.,  45.,  45.,  70.,  70.,  80.,  65.,  85.,
        55.,  55.,  80.,  55.,  50.,  85.,  70.,  55.,  50.,  80.,  50.,
        65.,  55.,  65.,  80.,  50.,  65.,  75.,  70.,  75.,  80.,  50.,
        65.,  65.,  55.,  75.,  50.,  45.,  75.,  50.,  75.,  50.,  75.,
        55.,  50.,  65.,  65.,  55.,  55.,  80.,  70.,  55.,  55.,  50.,
        45.,  70.,  45.,  85.,  70.,  55.,  70.,  65.,  80.,  65.,  70.,
        85.,  55.,  50.,  55.,  70.,  70.,  45.,  45.,  50.,  55.,  55.,
        70.,  70.,  80.,  65.,  70.,  70.,  50.,  55.,  50.,  80.,  70.,
        95.,  70.,  70.,  80.,  75.,  45.,  45.,  55.,  80.,  95.,  75.,
        70.,  45.,  45.,  50.,  70.,  65.,  75.,  55.,  45.,  50.,  70.,
        75.,  70.,  55.,  80.,  65.,  40.,  65.,  75.,  55.,  70.,  50.,
        65.,  65.,  50.,  50.,  70.,  45.,  55.,  55.,  65.,  65.,  45.,
        50.,  65.,  85.,  50.,  55.,  70.,  50.,  80.,  45.,  50.,  50.,
        75.,  50.,  55.,  70.,  75.,  50.,  65.,  50.,  80.,  70.,  85.,
        75.,  85.,  50.,  80.,  40.,  75.,  65.,  55.,  55.,  75.,  80.,
        45.,  50.,  55.,  45.,  75.,  50.,  65.,  75.,  65.,  45.,  75.,
        55.,  75.,  70., 110.,  70.,  80.,  70.,  65.,  45.,  50.,  55.,
        70.,  45.,  70.,  80.,  50.,  55.,  65.,  50.,  80.,  70.,  55.,
        65.,  55.,  80.,  55.,  70.,  40.,  65.,  55.,  50.,  45.,  55.,
        50.,  50.,  75.,  50.,  50.,  75.,  65.,  70.,  40.,  40.,  55.,
        55.,  65.,  45.,  80.,  70.,  65.,  65.,  65.,  45.,  80.,  75.,
        70.,  45.,  85.,  50.,  95.,  75.,  65.,  70.,  80.,  70.,  50.,
        55.,  45.,  65.,  45.,  55.,  50.,  40.,  55.,  45.,  70.,  70.,
        65.,  70.,  50.,  65., 100.,  75.,  50.,  55.,  85.,  75.,  80.,
        50.,  45.,  85.,  65.,  75.,  45.,  70.,  65.,  55.,  55.,  75.,
       105.,  65.,  50.,  55.,  65.,  70.,  65.,  50.,  70.,  50.,  70.,
        55.,  75.,  70.,  55.,  85.,  75.,  65.,  70.,  45.,  80.,  50.,
        50.,  50.,  55.,  55.,  55.,  75.,  45.,  50.,  45.,  55.,  50.,
        50.,  70.,  65.,  45.,  65.,  85.,  55.,  70.,  70.,  55.,  75.,
        40.,  65.,  45.,  50.,  50.,  55.,  55.,  75.,  65.,  75.,  70.,
        45.,  80.,  70.,  55.,  70.,  65.,  95.,  70.,  50.,  40.,  65.,
        65.,  70., 100.,  80.,  70.,  75.,  80.,  65.,  70.,  50.,  55.,
        40.,  55.,  45.,  75.,  65.,  55.,  75.,  35.,  50.,  85.,  55.,
        70.,  70.,  70.,  70.,  75.,  75.,  75.,  45.,  65.,  45.,  65.,
        70.,  70.,  55.,  75.,  65.,  40.,  70.,  55.,  65.,  70., 115.,
        40.,  70.,  55.,  55.,  55.,  75.,  75.,  55.,  55.,  55.,  65.,
       105.,  55.,  40.,  45.,  50.,  55.,  85.,  45.,  50.,  80.,  65.,
        65.,  65.,  45.,  55.,  70.,  65.,  65.,  50.,  70.,  55.,  50.,
        70., 105.,  85.,  45.,  50.,  55.,  45.,  70.,  50.,  50.,  70.,
        65.,  70.,  65.,  85.,  65.,  55.,  50.,  55.,  65.,  80.,  65.,
        70.,  65.,  55.,  75.,  50.,  55.,  45., 110.,  65.,  70.,  45.,
        85.,  50.,  85.,  65.,  50.,  70.,  45.,  75.,  65.,  55.,  80.,
        75.,  80.,  75.,  80.,  55.,  50.,  55.,  65.,  65.,  65.,  50.,
        75.,  80.,  55.,  65.,  65.,  70.,  55.,  70.,  45.,  70.,  80.,
        80.,  80.,  55.,  75.,  55.,  75.,  55.,  55.,  65.,  50.,  45.,
        70.,  45.,  45.,  70., 110.,  55.,  85.,  65.,  80.,  80.,  70.,
        50.,  45.,  70.,  55.,  65.,  65.,  50.,  45.,  70.,  70.,  50.,
        75.,  65.,  85.,  45.,  55.,  85.,  65.,  50.,  75.,  70.,  45.,
        55.,  55.,  75.,  65.,  65.,  70.,  70.,  80.,  70.,  50.,  70.,
        75.,  70.,  65.,  70.,  70.,  85.,  50.,  65.,  75.,  75.,  80.,
        45.,  55.,  55.,  80.,  65.,  70.,  75.,  85.,  55.,  75.,  65.,
        50.,  75.,  55.,  55.,  75.,  50.,  50.,  70.,  65.,  55.,  65.,
        55.,  50.,  45.,  50.,  55.,  45.,  70.,  75.,  50.,  55.,  45.,
        50.,  55.,  45.,  65.,  70.,  50.,  55.,  55.,  70.,  45.,  65.,
        65.,  65.,  45.,  45.,  55.,  75.,  75.,  45.,  70.,  70.,  85.,
        50.,  65.,  65.,  65.,  65.,  65.,  70.,  70.,  55.,  50.,  70.,
        75.,  55.,  65.,  55.,  75.,  70.,  80.,  80.,  65.,  85.,  95.,
        75.,  75.,  95.,  70.,  80.,  70.,  75.,  50.,  75.,  55.,  85.,
        75.,  45.,  45.,  70.,  65.,  65.,  50.,  65.,  55.,  75.,  55.,
        70.,  80.,  70.,  70.,  50.,  65.,  65.,  65.,  55.,  40.,  70.,
        85.,  50.,  45.,  75.,  50.,  50.,  45.,  70.,  40.,  55.,  55.,
        65.,  55.,  50.,  80.,  85.,  70.,  55.,  85.,  95.,  50.,  50.,
        70.,  70.,  70.,  70.,  70.,  75.,  50.,  45.,  70.,  75.,  95.,
        50.,  75.,  70.,  70.,  50.,  80.,  55.,  85.,  70.,  85.,  50.,
        75.,  70.,  55.,  80.,  55.,  45.,  70.,  50.,  80.,  80.,  65.,
        80.,  55.,  45.,  45.,  70.,  65.,  65.,  50.,  65.,  50.,  70.,
        85.,  70.,  55.,  65.,  75.,  75.,  55.,  70.,  85.,  55.,  65.,
        75.,  70.,  85.,  45.,  65.,  65.,  80.,  50.,  70.,  50.,  55.,
        70.,  55.,  55.,  50.,  75.,  55.,  65.,  85.,  70.,  55.,  75.,
        65.,  65.,  55.,  55.,  70.,  55.,  45.,  65.,  75.,  55.,  55.,
        80.,  50.,  75.,  80.,  75.,  70.,  55.,  65.,  80.,  70.,  85.,
        55.,  85.,  55.,  55.,  50.,  65.,  55.,  70.,  40.,  55.,  85.,
        55.,  65.,  70.,  65.,  45.,  55.,  70.,  50.,  55.,  80.,  80.,
        65.,  55.,  70.,  55.,  45.,  85.,  45.,  50.,  70.,  65.,  75.,
        50., 100.,  50.,  70.,  70.,  85.,  40.,  75., 115.,  50.,  50.,
        65.,  50.,  55.,  55.,  40.,  55.,  55.,  65.,  65.,  65.,  70.,
        70.,  55.,  65.,  85.,  65.,  40.,  55.,  50.,  75.,  85.,  65.,
        55.,  50.,  45.,  65.,  45.,  50.,  65.,  65.,  50.,  65.,  65.,
        45.,  45.,  70.,  70.,  55.,  65.,  55.,  65.,  55.,  65.,  50.,
        70.,  85.,  50.,  45.,  75.,  75.,  70., 123.,  56.,  69.,  57.,
        63.,  80.,  80.,  70.])

In [126]:
#특정 열을 list로 변환
ls = list(data_health['WEIGHT'])
ls

[70.0,
 55.0,
 50.0,
 70.0,
 65.0,
 70.0,
 65.0,
 95.0,
 65.0,
 80.0,
 55.0,
 85.0,
 40.0,
 55.0,
 45.0,
 75.0,
 80.0,
 75.0,
 70.0,
 65.0,
 70.0,
 70.0,
 85.0,
 50.0,
 85.0,
 55.0,
 55.0,
 70.0,
 55.0,
 50.0,
 55.0,
 50.0,
 85.0,
 45.0,
 70.0,
 75.0,
 65.0,
 70.0,
 55.0,
 55.0,
 70.0,
 50.0,
 50.0,
 65.0,
 65.0,
 70.0,
 50.0,
 70.0,
 85.0,
 55.0,
 50.0,
 45.0,
 70.0,
 65.0,
 65.0,
 75.0,
 80.0,
 55.0,
 55.0,
 80.0,
 75.0,
 65.0,
 55.0,
 55.0,
 75.0,
 65.0,
 70.0,
 75.0,
 65.0,
 100.0,
 55.0,
 65.0,
 75.0,
 65.0,
 55.0,
 65.0,
 65.0,
 65.0,
 80.0,
 75.0,
 65.0,
 65.0,
 50.0,
 70.0,
 70.0,
 95.0,
 80.0,
 55.0,
 50.0,
 55.0,
 75.0,
 70.0,
 45.0,
 45.0,
 70.0,
 70.0,
 80.0,
 65.0,
 85.0,
 55.0,
 55.0,
 80.0,
 55.0,
 50.0,
 85.0,
 70.0,
 55.0,
 50.0,
 80.0,
 50.0,
 65.0,
 55.0,
 65.0,
 80.0,
 50.0,
 65.0,
 75.0,
 70.0,
 75.0,
 80.0,
 50.0,
 65.0,
 65.0,
 55.0,
 75.0,
 50.0,
 45.0,
 75.0,
 50.0,
 75.0,
 50.0,
 75.0,
 55.0,
 50.0,
 65.0,
 65.0,
 55.0,
 55.0,
 80.0,
 70.0,
 55.0,
 55.0,
 50.0,
 45.0,
 70.0,
 45.0,
 85.0,
 70.0,
 55.0,
 70.0,
 65.0,
 80.0,
 65.0,
 70.0,
 85.0,
 55.0,
 50.0,
 55.0,
 70.0,
 70.0,
 45.0,
 45.0,
 50.0,
 55.0,
 55.0,
 70.0,
 70.0,
 80.0,
 65.0,
 70.0,
 70.0,
 50.0,
 55.0,
 50.0,
 80.0,
 70.0,
 95.0,
 70.0,
 70.0,
 80.0,
 75.0,
 45.0,
 45.0,
 55.0,
 80.0,
 95.0,
 75.0,
 70.0,
 45.0,
 45.0,
 50.0,
 70.0,
 65.0,
 75.0,
 55.0,
 45.0,
 50.0,
 70.0,
 75.0,
 70.0,
 55.0,
 80.0,
 65.0,
 40.0,
 65.0,
 75.0,
 55.0,
 70.0,
 50.0,
 65.0,
 65.0,
 50.0,
 50.0,
 70.0,
 45.0,
 55.0,
 55.0,
 65.0,
 65.0,
 45.0,
 50.0,
 65.0,
 85.0,
 50.0,
 55.0,
 70.0,
 50.0,
 80.0,
 45.0,
 50.0,
 50.0,
 75.0,
 50.0,
 55.0,
 70.0,
 75.0,
 50.0,
 65.0,
 50.0,
 80.0,
 70.0,
 85.0,
 75.0,
 85.0,
 50.0,
 80.0,
 40.0,
 75.0,
 65.0,
 55.0,
 55.0,
 75.0,
 80.0,
 45.0,
 50.0,
 55.0,
 45.0,
 75.0,
 50.0,
 65.0,
 75.0,
 65.0,
 45.0,
 75.0,
 55.0,
 75.0,
 70.0,
 110.0,
 70.0,
 80.0,
 70.0,
 65.0,
 45.0,
 50.0,
 55.0,
 70.0,
 45.0,
 70.0,
 80.0,
 50.0,
 55.0,
 65.0,
 50.0,
 80.0,
 70.0,
 55.0,
 65.0,
 55.0,
 80.0,
 55.0,
 70.0,
 40.0,
 65.0,
 55.0,
 50.0,
 45.0,
 55.0,
 50.0,
 50.0,
 75.0,
 50.0,
 50.0,
 75.0,
 65.0,
 70.0,
 40.0,
 40.0,
 55.0,
 55.0,
 65.0,
 45.0,
 80.0,
 70.0,
 65.0,
 65.0,
 65.0,
 45.0,
 80.0,
 75.0,
 70.0,
 45.0,
 85.0,
 50.0,
 95.0,
 75.0,
 65.0,
 70.0,
 80.0,
 70.0,
 50.0,
 55.0,
 45.0,
 65.0,
 45.0,
 55.0,
 50.0,
 40.0,
 55.0,
 45.0,
 70.0,
 70.0,
 65.0,
 70.0,
 50.0,
 65.0,
 100.0,
 75.0,
 50.0,
 55.0,
 85.0,
 75.0,
 80.0,
 50.0,
 45.0,
 85.0,
 65.0,
 75.0,
 45.0,
 70.0,
 65.0,
 55.0,
 55.0,
 75.0,
 105.0,
 65.0,
 50.0,
 55.0,
 65.0,
 70.0,
 65.0,
 50.0,
 70.0,
 50.0,
 70.0,
 55.0,
 75.0,
 70.0,
 55.0,
 85.0,
 75.0,
 65.0,
 70.0,
 45.0,
 80.0,
 50.0,
 50.0,
 50.0,
 55.0,
 55.0,
 55.0,
 75.0,
 45.0,
 50.0,
 45.0,
 55.0,
 50.0,
 50.0,
 70.0,
 65.0,
 45.0,
 65.0,
 85.0,
 55.0,
 70.0,
 70.0,
 55.0,
 75.0,
 40.0,
 65.0,
 45.0,
 50.0,
 50.0,
 55.0,
 55.0,
 75.0,
 65.0,
 75.0,
 70.0,
 45.0,
 80.0,
 70.0,
 55.0,
 70.0,
 65.0,
 95.0,
 70.0,
 50.0,
 40.0,
 65.0,
 65.0,
 70.0,
 100.0,
 80.0,
 70.0,
 75.0,
 80.0,
 65.0,
 70.0,
 50.0,
 55.0,
 40.0,
 55.0,
 45.0,
 75.0,
 65.0,
 55.0,
 75.0,
 35.0,
 50.0,
 85.0,
 55.0,
 70.0,
 70.0,
 70.0,
 70.0,
 75.0,
 75.0,
 75.0,
 45.0,
 65.0,
 45.0,
 65.0,
 70.0,
 70.0,
 55.0,
 75.0,
 65.0,
 40.0,
 70.0,
 55.0,
 65.0,
 70.0,
 115.0,
 40.0,
 70.0,
 55.0,
 55.0,
 55.0,
 75.0,
 75.0,
 55.0,
 55.0,
 55.0,
 65.0,
 105.0,
 55.0,
 40.0,
 45.0,
 50.0,
 55.0,
 85.0,
 45.0,
 50.0,
 80.0,
 65.0,
 65.0,
 65.0,
 45.0,
 55.0,
 70.0,
 65.0,
 65.0,
 50.0,
 70.0,
 55.0,
 50.0,
 70.0,
 105.0,
 85.0,
 45.0,
 50.0,
 55.0,
 45.0,
 70.0,
 50.0,
 50.0,
 70.0,
 65.0,
 70.0,
 65.0,
 85.0,
 65.0,
 55.0,
 50.0,
 55.0,
 65.0,
 80.0,
 65.0,
 70.0,
 65.0,
 55.0,
 75.0,
 50.0,
 55.0,
 45.0,
 110.0,
 65.0,
 70.0,
 45.0,
 85.0,
 50.0,
 85.0,
 65.0,
 50.0,
 70.0,
 45.0,
 75.0,
 65.0,
 55.0,
 80.0,
 75.0,
 80.0,
 75.0,
 80.0,
 55.0,
 50.0,
 55.0,
 65.0,
 65.0,
 65.0,
 50.0,
 75.0,
 80.0,
 55.0,
 65.0,
 65.0,
 70.0,
 55.0,
 70.0,
 45.0,
 70.0,
 80.0,
 80.0,
 80.0,
 55.0,
 75.0,
 55.0,
 75.0,
 55.0,
 55.0,
 65.0,
 50.0,
 45.0,
 70.0,
 45.0,
 45.0,
 70.0,
 110.0,
 55.0,
 85.0,
 65.0,
 80.0,
 80.0,
 70.0,
 50.0,
 45.0,
 70.0,
 55.0,
 65.0,
 65.0,
 50.0,
 45.0,
 70.0,
 70.0,
 50.0,
 75.0,
 65.0,
 85.0,
 45.0,
 55.0,
 85.0,
 65.0,
 50.0,
 75.0,
 70.0,
 45.0,
 55.0,
 55.0,
 75.0,
 65.0,
 65.0,
 70.0,
 70.0,
 80.0,
 70.0,
 50.0,
 70.0,
 75.0,
 70.0,
 65.0,
 70.0,
 70.0,
 85.0,
 50.0,
 65.0,
 75.0,
 75.0,
 80.0,
 45.0,
 55.0,
 55.0,
 80.0,
 65.0,
 70.0,
 75.0,
 85.0,
 55.0,
 75.0,
 65.0,
 50.0,
 75.0,
 55.0,
 55.0,
 75.0,
 50.0,
 50.0,
 70.0,
 65.0,
 55.0,
 65.0,
 55.0,
 50.0,
 45.0,
 50.0,
 55.0,
 45.0,
 70.0,
 75.0,
 50.0,
 55.0,
 45.0,
 50.0,
 55.0,
 45.0,
 65.0,
 70.0,
 50.0,
 55.0,
 55.0,
 70.0,
 45.0,
 65.0,
 65.0,
 65.0,
 45.0,
 45.0,
 55.0,
 75.0,
 75.0,
 45.0,
 70.0,
 70.0,
 85.0,
 50.0,
 65.0,
 65.0,
 65.0,
 65.0,
 65.0,
 70.0,
 70.0,
 55.0,
 50.0,
 70.0,
 75.0,
 55.0,
 65.0,
 55.0,
 75.0,
 70.0,
 80.0,
 80.0,
 65.0,
 85.0,
 95.0,
 75.0,
 75.0,
 95.0,
 70.0,
 80.0,
 70.0,
 75.0,
 50.0,
 75.0,
 55.0,
 85.0,
 75.0,
 45.0,
 45.0,
 70.0,
 65.0,
 65.0,
 50.0,
 65.0,
 55.0,
 75.0,
 55.0,
 70.0,
 80.0,
 70.0,
 70.0,
 50.0,
 65.0,
 65.0,
 65.0,
 55.0,
 40.0,
 70.0,
 85.0,
 50.0,
 45.0,
 75.0,
 50.0,
 50.0,
 45.0,
 70.0,
 40.0,
 55.0,
 55.0,
 65.0,
 55.0,
 50.0,
 80.0,
 85.0,
 70.0,
 55.0,
 85.0,
 95.0,
 50.0,
 50.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 75.0,
 50.0,
 45.0,
 70.0,
 75.0,
 95.0,
 50.0,
 75.0,
 70.0,
 70.0,
 50.0,
 80.0,
 55.0,
 85.0,
 70.0,
 85.0,
 50.0,
 75.0,
 70.0,
 55.0,
 80.0,
 55.0,
 45.0,
 70.0,
 50.0,
 80.0,
 80.0,
 65.0,
 80.0,
 55.0,
 45.0,
 45.0,
 70.0,
 65.0,
 65.0,
 50.0,
 65.0,
 50.0,
 70.0,
 85.0,
 70.0,
 55.0,
 65.0,
 75.0,
 75.0,
 55.0,
 70.0,
 85.0,
 55.0,
 65.0,
 75.0,
 70.0,
 85.0,
 45.0,
 65.0,
 65.0,
 80.0,
 50.0,
 70.0,
 50.0,
 55.0,
 70.0,
 55.0,
 55.0,
 50.0,
 75.0,
 55.0,
 65.0,
 85.0,
 70.0,
 55.0,
 75.0,
 65.0,
 65.0,
 55.0,
 55.0,
 70.0,
 55.0,
 45.0,
 65.0,
 75.0,
 55.0,
 55.0,
 80.0,
 50.0,
 75.0,
 80.0,
 75.0,
 70.0,
 55.0,
 65.0,
 80.0,
 70.0,
 85.0,
 55.0,
 85.0,
 55.0,
 55.0,
 50.0,
 65.0,
 55.0,
 70.0,
 40.0,
 55.0,
 85.0,
 55.0,
 65.0,
 70.0,
 65.0,
 45.0,
 55.0,
 70.0,
 50.0,
 55.0,
 80.0,
 80.0,
 65.0,
 55.0,
 70.0,
 55.0,
 45.0,
 85.0,
 45.0,
 50.0,
 70.0,
 65.0,
 75.0,
 50.0,
 100.0,
 50.0,
 70.0,
 70.0,
 85.0,
 40.0,
 75.0,
 115.0,
 50.0,
 50.0,
 65.0,
 50.0,
 55.0,
 55.0,
 40.0,
 55.0,
 55.0,
 65.0,
 65.0,
 65.0,
 70.0,
 70.0,
 55.0,
 65.0,
 85.0,
 65.0,
 40.0,
 55.0,
 50.0,
 75.0,
 85.0,
 65.0,
 55.0,
 50.0,
 45.0,
 65.0,
 45.0,
 50.0,
 65.0,
 65.0,
 50.0,
 65.0,
 65.0,
 45.0,
 45.0,
 70.0,
 70.0,
 55.0,
 65.0,
 55.0,
 65.0,
 55.0,
 65.0,
 50.0,
 70.0,
 85.0,
 50.0,
 45.0,
 75.0,
 75.0,
 70.0,
 123.0,
 56.0,
 69.0,
 57.0,
 63.0,
 80.0,
 80.0,
 70.0]

In [131]:
#특정 행, 열 위치의 값 가져오기(열->행 순으로)
var = data_health['WEIGHT'][3]
var

70.0

In [132]:
#loc를 이용해 특정 행, 열 위치의 값 가져오기(행->열 순으로
var = data_health.loc[3, 'WEIGHT']
var

70.0

In [133]:
#loc를 이용해 특정 값 변경
data_health.loc[3, 'WEIGHT'] = 65
var = data_health.loc[3, 'WEIGHT']
var

65.0

In [135]:
# iloc를 이용해 1번행, 4번열 값 가져오기
var = data_health.iloc[1,4]
var

14.2

In [136]:
# 열 필터링, 데이터프레임의 특정 컬럼의 값만 확인
data_health.filter(['WEIGHT', 'HEMOGLOBIN'])

     WEIGHT  HEMOGLOBIN
0      70.0        14.2
1      55.0        14.2
2      50.0        14.8
3      65.0        11.5
4      65.0        15.8
..      ...         ...
967    57.0        33.0
968    63.0         3.0
969    80.0        14.0
970    80.0        12.0
971    70.0        12.6

[972 rows x 2 columns]

In [142]:
# 특정 조건이 성립되는 컬럼의 데이터만 확인
data_health = data_health.T
data_health2 = data_health.T[['HEIGHT']][(data_health.T['WEIGHT'] > 80)]
data_health2

     HEIGHT
7     175.0
11    175.0
22    175.0
24    170.0
32    180.0
..      ...
910   175.0
927   175.0
933   170.0
958   175.0
964   123.0

[71 rows x 1 columns]

In [146]:
# index번호를 이용해 범위내의 행 삭제
data_health = pd.read_csv("health.csv", index_col=0)
data_health3 = data_health.drop(data_health.index[0:200])
data_health3

      NUM_CODE  HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
200        296     170      80   82.8           130        16.1
201        297     170      90   93.0           132        16.4
202        298     160      65   87.0           128        12.0
203        299     165      70   83.0           132        15.1
204        300     165      70   88.0           119        14.8
...        ...     ...     ...    ...           ...         ...
1158      1160     130      56   45.9             9         9.0
1159      1162     170      69   89.1           115        13.0
1160      1163     169      57   82.0           115        33.0
1161      1156     169      60   80.3           115         9.1
1162      1161     170      63   80.0           115         3.0

[963 rows x 6 columns]

In [147]:
data_health2 = data_health.drop(data_health.index[200:1500])

In [152]:
# append를 이용해 2개의 데이터프레임을 세로방향으로 통합
data_health4 = data_health2.append(data_health3, ignore_index=True)
data_health4

      NUM_CODE  HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0           85     160      60   80.0           128        16.6
1           86     180      70   83.0           119        14.2
2           87     160      55   73.0           129        14.2
3           88     155      50   73.0           101        16.5
4           89     160      50   71.0           104        14.8
...        ...     ...     ...    ...           ...         ...
1158      1160     130      56   45.9             9         9.0
1159      1162     170      69   89.1           115        13.0
1160      1163     169      57   82.0           115        33.0
1161      1156     169      60   80.3           115         9.1
1162      1161     170      63   80.0           115         3.0

[1163 rows x 6 columns]

In [154]:
# concatdmf 이용해 2개의 데이터프레임을 세로방향으로 통합
data_health5 = pd.concat([data_health2, data_health3], axis=0)
data_health5

      NUM_CODE  HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0           85     160      60   80.0           128        16.6
1           86     180      70   83.0           119        14.2
2           87     160      55   73.0           129        14.2
3           88     155      50   73.0           101        16.5
4           89     160      50   71.0           104        14.8
...        ...     ...     ...    ...           ...         ...
1158      1160     130      56   45.9             9         9.0
1159      1162     170      69   89.1           115        13.0
1160      1163     169      57   82.0           115        33.0
1161      1156     169      60   80.3           115         9.1
1162      1161     170      63   80.0           115         3.0

[1163 rows x 6 columns]

In [160]:
# merge를 이용해2개의 데이터프레임을 통합
data_health6 = pd.merge(data_health2, data_health3, how='outer')
data_health6

      NUM_CODE  HEIGHT  WEIGHT  WAIST  MAX_PRESSURE  HEMOGLOBIN
0           85     160      60   80.0           128        16.6
1           86     180      70   83.0           119        14.2
2           87     160      55   73.0           129        14.2
3           88     155      50   73.0           101        16.5
4           89     160      50   71.0           104        14.8
...        ...     ...     ...    ...           ...         ...
1158      1160     130      56   45.9             9         9.0
1159      1162     170      69   89.1           115        13.0
1160      1163     169      57   82.0           115        33.0
1161      1156     169      60   80.3           115         9.1
1162      1161     170      63   80.0           115         3.0

[1163 rows x 6 columns]